[submodule "libcloogle"]
	path = libcloogle
	url = https://github.com/clean-cloogle/libcloogle.git
[submodule "clean-selectloop"]
	path = clean-selectloop
	url = https://github.com/dopefishh/clean-selectloop.git
